.card-content {
    
    margin-top: 50px;
 
   
}

.card-footer {
    padding : 15px;
}

button {
    padding: 10px;
}

.title {
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}