.logo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 450px;
    margin-top: 10px;
    margin-bottom: 55px;
  
}

